@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("woff2"),
}

@font-face {
    font-family: "Salita";
    src: url("./assets/fonts/salita/Salita.ttf") format("woff2"),
}

@font-face {
    font-family: "Kholic";
    src: url("./assets/fonts/last_christmas/LastChristmas1.otf") format("woff2"),
}

*{
    margin: 0;
    padding: 0;
    font-family: Poppins !important;
}
.salita{
    font-family: Kholic !important;
}